<div class="container-feature py-5 {{ with .Get "class" }}{{ . }}{{ end }}">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 {{ if .Get "reverse" }}order-md-2{{ end }}">
      {{- .Inner | $.Page.RenderString -}}
    </div>
    <div class="col-12 col-md-6 {{ if .Get "reverse" }}order-md-1{{ end }}">
        <img src="{{ .Get "img" }}" class="img-fluid {{ if .Get "img-class" }}{{ .Get "img-class" }}{{ end }} mx-auto d-block" />
    </div>
  </div>
</div>
